---
# Copyright 2014, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# For an AIO it's recommended to set the following to limit the expected RAM
# usage of elasticsearch.
elasticsearch_heap_size_mb: 1024

# Ship all logs to the logstash container as well as the rsyslog_server.
# Uncomment the following if the setup-logging play is going to be used.
logstash_port: 5544
rsyslog_client_user_defined_targets:
  - name: "rpc-logging"
    proto: "tcp"
    port: "{{ logstash_port }}"
    hostname: "{{ hostvars[groups['logstash'][0]]['container_address'] }}"
      action_options: 'ls_json'
      template: >
      $template ls_json,"{
      %timestamp:::date-rfc3339,jsonf:@timestamp%,
      %source:::jsonf:@source_host%,
      \"@source\":\"syslog://%app-name:::json%\",
      \"@message\":\"%msg:::json%\",
      \"@fields\": {
      %syslogfacility-text:::jsonf:facility%,
      %syslogseverity-text:::jsonf:severity%,
      %app-name:::jsonf:program%,
      %procid:::jsonf:processid% }
      }"
